body {
    margin: 0;
    padding: 0;
    background-image: url('web-automation-armada (10).png'); /* Cambiar por el nombre de tu imagen local */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Cambia a dirección de columna */
}

.container {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al extremo derecho */
    align-items: center;
    height: 100%;
    padding-right: 190px; /* Añade un poco de espacio a la derecha */
}

.gray-box {
    background-color: white; /* Color gris */
    padding: 40px; /* Aumenta el espacio de relleno */
    border-radius: 10px;
}

.contact-box {
    text-align: center;
}

.contact-box h2 {
    margin-bottom: 30px; /* Aumenta el margen inferior */
    font-size: 36px; /* Aumenta el tamaño de la fuente */
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Aumenta el espacio entre los botones */
}

.whatsapp-button, .gmail-button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al pasar el mouse */

    display: inline-block;
    padding: 15px 30px; /* Aumenta el espacio de relleno */
    border-radius: 10px; /* Aumenta el radio del borde */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatsapp-button {
    background-color: #25D366; /* Verde de WhatsApp */
}

.gmail-button {
    background-color: rgba(0, 4, 255, 0.637); /* Gris de Gmail */
}

.whatsapp-button:hover, .gmail-button:hover {
    background-color: white
}

.gmail-button:hover, .gmail-button:hover {
    background-color: white
}
.footer {
    background-color: gray; /* Color gris */
    height: 100px; /* Altura del pie de página */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 16px; /* Reducir el tamaño del texto */
    color: #333; /* Color de texto más oscuro */
}

.primary-button {
    padding: 5px 10px; /* Reducir el espacio de relleno */
    border-radius: 5px; /* Reducir la curvatura del borde */
    background-color: transparent; /* Fondo transparente */
    color: #333; /* Color azul para el texto */
    font-size: 14px; /* Reducir el tamaño del texto */
    border: none;
    cursor: pointer;
    transition: color 0.3s ease; /* Animación de color */
}

.primary-button:hover {
    color: white; /* Cambio de color al pasar el ratón */
}

.primary-button:hover {
    background-color: white; /* Cambio de color al pasar el ratón */
}
